<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> </title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik|Ubuntu&display=swap" rel="stylesheet">
    <link href="../static/css/font.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/font.css" />

</head>
<style>

    p{
        font-size:20px;
         font-family: 'Ubuntu', sans-serif;
font-family: 'Rubik', sans-serif;

    }
    td{
        text-align: center
    }

    .back_btn:hover{
      cursor: pointer;
      transform:scale(0.9);
      transition:0.3s;
    }
      .back_btn:hover{
      cursor: pointer;
      transform:scale(0.9);
      transition:0.3s;
    }
    </style>
<body>
 <div style="margin-left:5%;margin-right:5%;">
   <div style="display: flex;flex-direction:row;align-items:center;">
   <img src="../static/back_btn.png" style="width:40px;" class="back_btn" onclick="history.go(-1);return false;" />
   <div style="font-size:2em;font-weight:bolder;margin-left:20px;font-family:'SF'">Influencer details</div>
   </div>
    <!-- <h1 style="color:blue;font-size:60px">Influencer detail</h1> -->
   <p>Influencer id:{{i.influencer_id}}</p>
   <p>Name:{{i.name}}</p>
     <p>Mobile no:{{i.mobile_no}}</p>
   <p>Email:{{i.email}}</p>
   <p>Registration date:{{i.registration_date}}</p>
   <p>Updated:{{i.updated}}</p>
   <p>Gender:{{i.gender}}</p>
     <p>Age:{{i.age}}</p>
   <p>Use facebook:{{i.use_facebook}}</p>
   <p>Use instagram:{{i.use_instagram}}</p>
   <p>Use twitter:{{i.use_twitter}}</p>
   <p>Use youtube:{{i.use_youtube}}</p>
   <br>
     <h2 style="color:blue">Payments</h2>

     <table border="1" style="width:100%;margin-bottom:100px;font-size:1.2em;font-family:'SF'">
        <tr>
            <th>Payment id</th>
            <th>Date/time</th>
            <th>Mode</th>
            <th>Amount</th>
            <th>Purpose</th>
            <th>Status</th>
        </tr>
        {% for d in p %}
        <tr>
            <td>{{d.payment_id}}</td>
            <td> {{d.date_time}}</td>
            {% if d.mode==0 %}
            <td>Paypal</td>
            {% elif d.mode==1 %}
            <td>Paytm</td>
            {% endif %}
            <td> {{d.amount}}</td>
            <td> {{d.purpose}}</td>
            <td> {{d.status}}</td>
        </tr>
      {% endfor %}
   </table>
    </div>
</body>
<script type="text/javascript">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      swal('{{message}}');
    {% endfor %}
  {% endif %}
{% endwith %}
</script>
</html>
